VITE_REMOTE_SERVER_API_BASE_URL=http://127.0.0.1:8000/api # dev = '/api', prod = 'http://127.0.0.1:8000/api'
VITE_API_PROXY_TARGET=http://127.0.0.1:8000
VITE_API_HOST_PERMISSION_URL="*://127.0.0.1/*,*://localhost/*"
VITE_GITHUB_REPO_URL="https://github.com/igor-yuzkiv/zoho-studio"
VITE_FEATURE_GIT=false
VITE_STORAGE_STRATEGY=local
